.todo-deleted {
    background-color: white;
    height: 95%;
    margin: 10px;
    border-radius: 5px;
    width: 20rem;
    border: 1px solid;
    border-top: 10px solid #ff2600;
    border-radius: 5px;
    text-align: center;
}

.todo-deleted-tasklist {
    margin: 15px 15px;
    box-sizing: border-box;
    border: 1px solid gray;
    text-align: left;
    padding: 10px;
    border-left: 5px #ff2600 solid;
}
