.todo-login-form {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

h2 {
    color: #803a97;
}

.login-username {
    margin: 9px;
}