.todo-completed {
    background-color: white;
    height: 95%;
    margin: 10px;
    border-radius: 5px;
    width: 20rem;
    border: 1px solid;
    border-top: 10px solid #00ff7c;
    border-radius: 5px;
    text-align: center;
}

.todo-completed-tasklist {
    margin: 15px 15px;
    box-sizing: border-box;
    border: 1px solid gray;
    text-align: left;
    padding: 10px;
    border-left: 5px #00ff7c solid;
}

.todo-deleted-button {
    position: relative;
    left: 70%;
    cursor: pointer;
}